body {
    background-color: #555;
    color: #333;
    font-family: Arial, sans-serif;
}

/* ######################## SELECT AVAILABILITY ######################## */

h2 {
    color: #fff;
    text-align:left;
    margin-top: 0 px;
    font-family: 'Helvetica', sans-serif; /* Futuristic font of your choice */
    font-size: 15px;
    background-color: #555;
    padding-left:5%
}
#dateForm {
    color: #222;
    background-color: #333
    margin-top: 0 px;
    margin-right: 10 px;
    padding-left:8%;

}
label {
    display: inline-block;
    margin-top: 10px;
    text-align:center;
    color:#fff;

}

.pickFromDate,.pickFromTIme,.pickToTime{
    background-color: #333;
    border: none;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
    width: 100px;
    color-scheme: dark;
}

.custom-next-button {
    cursor: pointer;
    width:220px;
    background-color: #FA8072;
    color: #fff;
    border: none;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
    margin-top:20px;
}
.custom-submit-button {
    cursor: pointer;
    width:220px;
    background-color: #FA8072;
    color: #fff;
    border: none;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
    margin-top:20px;
    margin-left:20px
}

div.categories-container {
    padding-left:20px;
    padding-bottom:10px;
}
.hidden {
  display: none;
  font-size:10pt;
  color:yellow;
  padding-left:10%
}

.tooltip-start{
    background-color: #333;
    padding:30px
}
.tooltip-style {
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    heightL: 120px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    font-size:15px;
    font-weight:400;
}

.tooltip-style p {
    word-wrap: break-word;
    padding-left:5%;
    padding-right:5%;
}