.tooltip-style {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    heightL: 120px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}

.tooltip-style p {
    word-wrap: break-word;
    padding-left:5%;
    padding-right:5%;
}